<head>
  <style>
    background-colour: black;


  </style>
</head>

<body>
  <h1>makersbnb</h1>

  <% if !$username.nil? %>
    <h3>Welcome <%=$username%></h3>
  <%end%>

  <form action='/space/new' method='get'>
    <input type='submit' class='button button1' name='become_a_host' value='Become a host'>
  </form>

  <br>

  <form action='/user/new' method='get'>
    <input type='submit' class='button button2' name='sign_up' value='Sign up'>
  </form>

  <form action='/user/sign_in' method='get'>
    <input type='submit' class='button button3' name='sign_in' value='Sign in'>
  </form>

  <ul>
    <% unless @result_db.nil? %>
    <%=@result_db.name%>
    <%=@result_db.description%>
    <%=@result_db.price_per_night%> per night
    <% end %>
  </ul>
</body>
