<body>
  <h1>Welcome to MakersBnB</h1>

  <form action='/space/new' method='get'>
    <input type='submit' class='button button1' name='become_a_host' value='Become a host'>
  </form>

  <br>

  <form action='/user/new' method='get'>
    <input type='submit' class='button button1' name='sign_up' value='Sign up'>
  </form>

  <ul>
    <% unless @result_db.nil? %>
    <%=@result_db.name%>
    <%=@result_db.description%>
    <%=@result_db.price_per_night%> per night
    <% end %>
  </ul>
</body>
