<body>
  <h1>Welcome to MakersBnB</h1>

  <form action='/space/new' method='get'>
    <input type='submit' class='button button1' name='list_space' value='List a space'>
  </form>
  <ul>
    <% unless @result_db.nil? %>
    <%=@result_db.name%>
    <%=@result_db.description%>
    <%=@result_db.price_per_night%> per night
    <% end %>
  </ul>
</body>
