<!DOCTYPE html>
<html>
  <head>
    <body>
      <h1>
        <img 
          src="https://github.com/ahmad047/makersbnb/blob/master/views/images/logo.png?raw=true"
          width="50";
          height="100";
          style="width: 120px; height: 80px;"
          alt="Makersbnb logo." 
        />
      </h1>
    </body>
    <style>
      
      img {width: 90%; padding: 20px; display: inline-block; justify-content: space-between;}

      h1 {
      color: black;
      font-size: 20px;
      font-family: Helvetica, sans-serif;
      }
      body {
      color: black;
      font-family: Helvetica, sans-serif;
      height: 100vh;
      background-color: white; /* For browsers that do not support gradients */
      background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg") ;
      background-size: cover;

      }
      .button {
        background-color: transparent;
        border: none;
        outline: none;
        transition-duration: 1s;
        text-align:center;
      }
      .button1 {
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding: 8px 15px;
        position:absolute; top:20px; right:500px;
      }

      .button1:hover {
        background-color: #a1c2c7;
        
      }

      .button2 {
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding: 8px 15px;
        position:absolute; top:20px; right:200px;
      }

      .button2:hover {
        background-color: #a1c2c7;
        
      }

      .button3 {
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding: 8px 15px;
        position:absolute; top:20px; right:300px;
      }

      .button3:hover {
        background-color: #a1c2c7;
        
      }


      .button4 {
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding: 8px 15px;
      }

      .button4:hover {
        background-color: #a1c2c7;
        
      }

      .button5 {
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding: 8px 15px;
        position:absolute; top:20px; right:400px;
      }

      .button5:hover {
        background-color: #a1c2c7;
        
      }

      .button6 {
        background-color: #a1c2c7;
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding: 8px 15px;
        # position:absolute; top:20px; right:400px;
      }

      .button6:hover {
        background-color: #e3f6ff;
        
      }


    
    </style>
  </head>

  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<%= yield %>
</html>
