<!DOCTYPE html>
<html>
  <head>
    <style>

     body {
      height: 100vh;
      background-color: red; /* For browsers that do not support gradients */
      background-image: linear-gradient(230deg, #99e6ff, #ccffcc);
      }

    </style>
  </head>

  <body>


    <form action='/space' method='post'>
      <input type='text' name='name' placeholder='Enter name' required>
      <input type='text' name='description' placeholder='Enter a description' required>
      <input type='text' name='price_per_night' placeholder='Enter a price per night' required>
      <input type='submit' name='Submit' value='List space' required>
    </form>


    <div id="grad1" style="text-align:center;"></div><br>
  </body>
</html>